## Challenge 1: Tuples

#### Do you know you can create tuples with only one element?

**In the cell below, define a variable `tup` with a single element `"I"`.**

*Hint: you need to add a comma (`,`) after the single element.*

In [2]:
tup = ('I',)

In [3]:
type(tup)

tuple

In [4]:
tup_w = ('I')

In [5]:
type(tup_w)

str

In [6]:
tup.add("r", "o", "n", "h", "a", "c", "k")

AttributeError: 'tuple' object has no attribute 'add'

In [7]:
tup.append("r", "o", "n", "h", "a", "c", "k")

AttributeError: 'tuple' object has no attribute 'append'

In [8]:
tup = ("I", "r", "o", "n", "h", "a", "c", "k")

In [9]:
tup

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

In [10]:
type(tup)

tuple

#### Split `tup` into `tup1` and `tup2` with 4 elements in each. 

`tup1` should be `("I", "r", "o", "n")` and `tup2` should be `("h", "a", "c", "k")`.

*Hint: use positive index numbers for `tup1` assignment and use negative index numbers for `tup2` assignment. Positive index numbers count from the beginning whereas negative index numbers count from the end of the sequence.*

Also print `tup1` and `tup2`.

In [14]:
tup1 = tup[:4]

In [15]:
type(tup1)

tuple

In [17]:
tup2 = tup[-4:]

In [18]:
tup1

('I', 'r', 'o', 'n')

In [19]:
tup2

('h', 'a', 'c', 'k')

In [20]:
tup3 = tup1 + tup2

print(tup3)

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

In [21]:
print(tup == tup3)

True

In [22]:
len(tup3) == len(tup1) + len(tup2)

True

In [24]:
tuppp = ("I", "r", "o", "h", "n", "h", "a", "c", "k")

In [25]:
tuppp.index("h")

3

#### Now, use a FOR loop to check whether each letter in the following list is present in `tup3`:

```
letters = ["a", "b", "c", "d", "e"]
```

For each letter you check, print `True` if it is present in `tup3` otherwise print `False`.

*Hint: you only need to loop `letters`. You don't need to loop `tup3` because there is a Python operator `in` you can use. See [reference](https://stackoverflow.com/questions/17920147/how-to-check-if-a-tuple-contains-an-element-in-python).*

In [30]:
letters = ["a", "b", "c", "d", "e"]

for letter in letters:
    if letter in tup3: 
        print(True)
    else: 
        print(False)

True
False
True
False
False

In [36]:
print([True if letter in tup3 else False for letter in letters])

[True, False, True, False, False]

In [34]:
# wrong order excetion when you have an 'else' statement
print([True for letter in letters if letter in tup3 else False])

SyntaxError: invalid syntax (<ipython-input-34-dd54edbb8d82>, line 2)

In [37]:
letters = ["a", "b", "c", "d", "e"]

for i in letters:
    print(i in tup3)

True
False
True
False
False

In [38]:
"a" in tup3

True

In [39]:
appears = []

for letter in letters:
    appears.append(tup3.count(letter))

print(appears)

[1, 0, 1, 0, 0]

In [40]:
for i in letters:
    print(tup3.count(i))

1
0
1
0
0

## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [41]:
import random


Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

In [42]:
p = range(0,100)

sample_list_1 = random.sample(p, 80)

print(sample_list_1, len(sample_list_1))

[54, 80, 76, 41, 35, 23, 96, 57, 70, 91, 28, 39, 74, 40, 6, 97, 52, 45, 7, 19, 83, 1, 53, 89, 31, 99, 56, 15, 65, 60, 81, 69, 24, 86, 82, 3, 37, 43, 27, 29, 73, 30, 48, 46, 78, 94, 17, 42, 2, 5, 64, 10, 22, 0, 85, 93, 71, 90, 77, 11, 16, 79, 44, 88, 98, 55, 4, 66, 87, 36, 95, 8, 72, 25, 68, 33, 51, 38, 26, 84] 80

In [43]:
set1 = set(sample_list_1)

print(type(set1))

<class 'set'>

In [44]:
number = []

for i in range(80):
    number.append(random.randint(0, 100))
    
print(number)

[98, 73, 68, 55, 50, 64, 47, 32, 70, 28, 29, 84, 45, 93, 33, 22, 8, 63, 20, 45, 60, 25, 18, 61, 71, 54, 78, 3, 45, 46, 22, 3, 61, 15, 37, 23, 27, 76, 1, 42, 4, 18, 73, 87, 54, 45, 48, 28, 43, 80, 33, 27, 6, 58, 24, 0, 8, 60, 17, 96, 70, 87, 34, 85, 23, 45, 67, 5, 80, 58, 76, 80, 2, 14, 77, 28, 62, 44, 92, 8]

In [45]:
number = []

for i in range(80):
    number.append(random.sample(p,1)[0])
    
print(number)

#sample_list_3 = random.sample(range(0,100), 80)

[29, 99, 40, 11, 23, 33, 85, 77, 9, 18, 13, 2, 10, 87, 51, 34, 94, 64, 14, 36, 74, 52, 33, 3, 54, 59, 84, 2, 61, 20, 85, 18, 54, 67, 97, 9, 89, 29, 42, 42, 97, 37, 81, 41, 21, 9, 96, 92, 21, 64, 67, 79, 89, 80, 7, 25, 79, 47, 59, 3, 39, 38, 38, 93, 17, 90, 34, 84, 45, 77, 98, 95, 28, 15, 97, 23, 67, 30, 88, 13]

In [46]:
len(number)

80

In [47]:
min(number)

2

In [48]:
max(number)

99

In [51]:
sample_list_2 = [random.randrange(100) for i in range(80)]

print(sample_list_2)

[74, 85, 81, 8, 2, 28, 99, 80, 43, 18, 37, 79, 9, 44, 82, 41, 28, 75, 47, 19, 42, 21, 85, 38, 83, 40, 84, 31, 46, 97, 3, 48, 78, 77, 30, 47, 64, 28, 22, 4, 48, 55, 80, 18, 80, 87, 56, 9, 70, 18, 21, 34, 38, 61, 19, 39, 15, 18, 55, 43, 58, 93, 48, 24, 59, 25, 85, 72, 64, 36, 21, 76, 42, 40, 62, 26, 94, 42, 0, 17]

In [52]:
set2 = set(sample_list_2)

In [55]:
# We start off defining both sets. Note that we have to use both parentheses and brackets.
girl_names = set(['Mary', 'Madison', 'Logan', 'Joanna'])
boy_names = set(['John', 'Alexander', 'Logan', 'Madison'])

# We find the unisex names by finding the intersection of boy and girl names
unisex_names = girl_names.intersection(boy_names)
print(unisex_names)
{'Logan', 'Madison'}

{'Logan', 'Madison'}

{'Logan', 'Madison'}

In [58]:
set3 = set1 - set1.intersection(set2)

set3

{1,
 5,
 6,
 7,
 10,
 11,
 16,
 23,
 27,
 29,
 33,
 35,
 45,
 51,
 52,
 53,
 54,
 57,
 60,
 65,
 66,
 68,
 69,
 71,
 73,
 86,
 88,
 89,
 90,
 91,
 95,
 96,
 98}

In [53]:
set3 = set2 - set1

set3

{9, 18, 21, 34, 47, 58, 59, 61, 62, 75}

In [54]:
# Your code here
set4 = set2 - set1

print(set4)

{34, 9, 75, 47, 18, 21, 58, 59, 61, 62}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [59]:
set5 = set(x for x in set1 if x in set2)

print(set5)

{0, 2, 3, 4, 8, 15, 17, 19, 22, 24, 25, 26, 28, 30, 31, 36, 37, 38, 39, 40, 41, 42, 43, 44, 46, 48, 55, 56, 64, 70, 72, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 87, 93, 94, 97, 99}

In [60]:
set5 = set1.intersection(set2)

print(set5)

{0, 2, 3, 4, 8, 15, 17, 19, 22, 24, 25, 26, 28, 30, 31, 36, 37, 38, 39, 40, 41, 42, 43, 44, 46, 48, 55, 56, 64, 70, 72, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 87, 93, 94, 97, 99}

In [61]:
set5 = set1 & set2

print(set5)

{0, 2, 3, 4, 8, 15, 17, 19, 22, 24, 25, 26, 28, 30, 31, 36, 37, 38, 39, 40, 41, 42, 43, 44, 46, 48, 55, 56, 64, 70, 72, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 87, 93, 94, 97, 99}

In [62]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
57
33
10
47

In [65]:
len(set3) + len(set4) + len(set5) * 2 == len(set1) + len(set2)

True

In [71]:
set6 = set()

In [72]:
# Update a set with the union of itself and others.
set6.update(set3, set5)

print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 15, 16, 17, 19, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 33, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 51, 52, 53, 54, 55, 56, 57, 60, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99}

In [73]:
set6 == set1

True

In [74]:
set2.issubset(set1)

False

In [75]:
set3.issubset(set1)

True

In [76]:
# Return the union of sets as a new set.
a = set3.union(set4, set5)
b = set1.union(set2)

print(a == b)

True

In [77]:
set3.union(set4, set5) == set1.union(set2)

True

In [84]:
s = set1.pop()

print(s)
print(set1)

6
{7, 8, 10, 11, 15, 16, 17, 19, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 33, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 51, 52, 53, 54, 55, 56, 57, 60, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99}

In [85]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for number in list_to_remove:
    if number in set1:
        set1.remove(number)

print(set1)

{7, 8, 10, 15, 16, 17, 22, 23, 24, 25, 26, 27, 28, 30, 33, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 48, 52, 53, 54, 55, 56, 57, 60, 64, 65, 66, 68, 70, 72, 73, 74, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 88, 90, 93, 94, 95, 96, 97, 98}

In [86]:
word_freq = {'love': 25, 'conversation': 1, 'every': 6, "we're": 1, 'plate': 1, 'sour': 1, 'jukebox': 1, 'now': 11, 'taxi': 1, 'fast': 1, 'bag': 1, 'man': 1, 'push': 3, 'baby': 14, 'going': 1, 'you': 16, "don't": 2, 'one': 1, 'mind': 2, 'backseat': 1, 'friends': 1, 'then': 3, 'know': 2, 'take': 1, 'play': 1, 'okay': 1, 'so': 2, 'begin': 1, 'start': 2, 'over': 1, 'body': 17, 'boy': 2, 'just': 1, 'we': 7, 'are': 1, 'girl': 2, 'tell': 1, 'singing': 2, 'drinking': 1, 'put': 3, 'our': 1, 'where': 1, "i'll": 1, 'all': 1, "isn't": 1, 'make': 1, 'lover': 1, 'get': 1, 'radio': 1, 'give': 1, "i'm": 23, 'like': 10, 'can': 1, 'doing': 2, 'with': 22, 'club': 1, 'come': 37, 'it': 1, 'somebody': 2, 'handmade': 2, 'out': 1, 'new': 6, 'room': 3, 'chance': 1, 'follow': 6, 'in': 27, 'may': 2, 'brand': 6, 'that': 2, 'magnet': 3, 'up': 3, 'first': 1, 'and': 23, 'pull': 3, 'of': 6, 'table': 1, 'much': 2, 'last': 3, 'i': 6, 'thrifty': 1, 'grab': 2, 'was': 2, 'driver': 1, 'slow': 1, 'dance': 1, 'the': 18, 'say': 2, 'trust': 1, 'family': 1, 'week': 1, 'date': 1, 'me': 10, 'do': 3, 'waist': 2, 'smell': 3, 'day': 6, 'although': 3, 'your': 21, 'leave': 1, 'want': 2, "let's": 2, 'lead': 6, 'at': 1, 'hand': 1, 'how': 1, 'talk': 4, 'not': 2, 'eat': 1, 'falling': 3, 'about': 1, 'story': 1, 'sweet': 1, 'best': 1, 'crazy': 2, 'let': 1, 'too': 5, 'van': 1, 'shots': 1, 'go': 2, 'to': 2, 'a': 8, 'my': 33, 'is': 5, 'place': 1, 'find': 1, 'shape': 6, 'on': 40, 'kiss': 1, 'were': 3, 'night': 3, 'heart': 3, 'for': 3, 'discovering': 6, 'something': 6, 'be': 16, 'bedsheets': 3, 'fill': 2, 'hours': 2, 'stop': 1, 'bar': 1}

In [87]:
print(word_freq)

{'love': 25, 'conversation': 1, 'every': 6, "we're": 1, 'plate': 1, 'sour': 1, 'jukebox': 1, 'now': 11, 'taxi': 1, 'fast': 1, 'bag': 1, 'man': 1, 'push': 3, 'baby': 14, 'going': 1, 'you': 16, "don't": 2, 'one': 1, 'mind': 2, 'backseat': 1, 'friends': 1, 'then': 3, 'know': 2, 'take': 1, 'play': 1, 'okay': 1, 'so': 2, 'begin': 1, 'start': 2, 'over': 1, 'body': 17, 'boy': 2, 'just': 1, 'we': 7, 'are': 1, 'girl': 2, 'tell': 1, 'singing': 2, 'drinking': 1, 'put': 3, 'our': 1, 'where': 1, "i'll": 1, 'all': 1, "isn't": 1, 'make': 1, 'lover': 1, 'get': 1, 'radio': 1, 'give': 1, "i'm": 23, 'like': 10, 'can': 1, 'doing': 2, 'with': 22, 'club': 1, 'come': 37, 'it': 1, 'somebody': 2, 'handmade': 2, 'out': 1, 'new': 6, 'room': 3, 'chance': 1, 'follow': 6, 'in': 27, 'may': 2, 'brand': 6, 'that': 2, 'magnet': 3, 'up': 3, 'first': 1, 'and': 23, 'pull': 3, 'of': 6, 'table': 1, 'much': 2, 'last': 3, 'i': 6, 'thrifty': 1, 'grab': 2, 'was': 2, 'driver': 1, 'slow': 1, 'dance': 1, 'the': 18, 'say': 2, 'trust': 1, 'family': 1, 'week': 1, 'date': 1, 'me': 10, 'do': 3, 'waist': 2, 'smell': 3, 'day': 6, 'although': 3, 'your': 21, 'leave': 1, 'want': 2, "let's": 2, 'lead': 6, 'at': 1, 'hand': 1, 'how': 1, 'talk': 4, 'not': 2, 'eat': 1, 'falling': 3, 'about': 1, 'story': 1, 'sweet': 1, 'best': 1, 'crazy': 2, 'let': 1, 'too': 5, 'van': 1, 'shots': 1, 'go': 2, 'to': 2, 'a': 8, 'my': 33, 'is': 5, 'place': 1, 'find': 1, 'shape': 6, 'on': 40, 'kiss': 1, 'were': 3, 'night': 3, 'heart': 3, 'for': 3, 'discovering': 6, 'something': 6, 'be': 16, 'bedsheets': 3, 'fill': 2, 'hours': 2, 'stop': 1, 'bar': 1}

In [ ]:
{"zurigo":"ZH", "zurique":"ZH", "z√ºri":"ZH"}

## Challenge 3: Dictionaries

1. First extract the keys of `word_freq` and convert it to a list called `keys`.

1. Sort the `keys` list.

1. Create an empty dictionary `word_freq2`.

1. Use a FOR loop to iterate each value in `keys`. For each key iterated, find the corresponding value in `word_freq` and insert the key-value pair to `word_freq2`.

In [99]:
keysss = word_freq.keys()

print(keysss)

dict_keys(['love', 'conversation', 'every', "we're", 'plate', 'sour', 'jukebox', 'now', 'taxi', 'fast', 'bag', 'man', 'push', 'baby', 'going', 'you', "don't", 'one', 'mind', 'backseat', 'friends', 'then', 'know', 'take', 'play', 'okay', 'so', 'begin', 'start', 'over', 'body', 'boy', 'just', 'we', 'are', 'girl', 'tell', 'singing', 'drinking', 'put', 'our', 'where', "i'll", 'all', "isn't", 'make', 'lover', 'get', 'radio', 'give', "i'm", 'like', 'can', 'doing', 'with', 'club', 'come', 'it', 'somebody', 'handmade', 'out', 'new', 'room', 'chance', 'follow', 'in', 'may', 'brand', 'that', 'magnet', 'up', 'first', 'and', 'pull', 'of', 'table', 'much', 'last', 'i', 'thrifty', 'grab', 'was', 'driver', 'slow', 'dance', 'the', 'say', 'trust', 'family', 'week', 'date', 'me', 'do', 'waist', 'smell', 'day', 'although', 'your', 'leave', 'want', "let's", 'lead', 'at', 'hand', 'how', 'talk', 'not', 'eat', 'falling', 'about', 'story', 'sweet', 'best', 'crazy', 'let', 'too', 'van', 'shots', 'go', 'to', 'a', 'my', 'is', 'place', 'find', 'shape', 'on', 'kiss', 'were', 'night', 'heart', 'for', 'discovering', 'something', 'be', 'bedsheets', 'fill', 'hours', 'stop', 'bar'])

In [88]:
# 1.

keys = list(word_freq.keys())

print(keys)

['love', 'conversation', 'every', "we're", 'plate', 'sour', 'jukebox', 'now', 'taxi', 'fast', 'bag', 'man', 'push', 'baby', 'going', 'you', "don't", 'one', 'mind', 'backseat', 'friends', 'then', 'know', 'take', 'play', 'okay', 'so', 'begin', 'start', 'over', 'body', 'boy', 'just', 'we', 'are', 'girl', 'tell', 'singing', 'drinking', 'put', 'our', 'where', "i'll", 'all', "isn't", 'make', 'lover', 'get', 'radio', 'give', "i'm", 'like', 'can', 'doing', 'with', 'club', 'come', 'it', 'somebody', 'handmade', 'out', 'new', 'room', 'chance', 'follow', 'in', 'may', 'brand', 'that', 'magnet', 'up', 'first', 'and', 'pull', 'of', 'table', 'much', 'last', 'i', 'thrifty', 'grab', 'was', 'driver', 'slow', 'dance', 'the', 'say', 'trust', 'family', 'week', 'date', 'me', 'do', 'waist', 'smell', 'day', 'although', 'your', 'leave', 'want', "let's", 'lead', 'at', 'hand', 'how', 'talk', 'not', 'eat', 'falling', 'about', 'story', 'sweet', 'best', 'crazy', 'let', 'too', 'van', 'shots', 'go', 'to', 'a', 'my', 'is', 'place', 'find', 'shape', 'on', 'kiss', 'were', 'night', 'heart', 'for', 'discovering', 'something', 'be', 'bedsheets', 'fill', 'hours', 'stop', 'bar']

In [89]:
# 2

keys.sort()

In [90]:
# 3

word_freq2 = {}

In [91]:
for key in keys:
    word_freq2[key] = word_freq[key]

In [92]:
print(keys)
print(type(keys))

['a', 'about', 'all', 'although', 'and', 'are', 'at', 'baby', 'backseat', 'bag', 'bar', 'be', 'bedsheets', 'begin', 'best', 'body', 'boy', 'brand', 'can', 'chance', 'club', 'come', 'conversation', 'crazy', 'dance', 'date', 'day', 'discovering', 'do', 'doing', "don't", 'drinking', 'driver', 'eat', 'every', 'falling', 'family', 'fast', 'fill', 'find', 'first', 'follow', 'for', 'friends', 'get', 'girl', 'give', 'go', 'going', 'grab', 'hand', 'handmade', 'heart', 'hours', 'how', 'i', "i'll", "i'm", 'in', 'is', "isn't", 'it', 'jukebox', 'just', 'kiss', 'know', 'last', 'lead', 'leave', 'let', "let's", 'like', 'love', 'lover', 'magnet', 'make', 'man', 'may', 'me', 'mind', 'much', 'my', 'new', 'night', 'not', 'now', 'of', 'okay', 'on', 'one', 'our', 'out', 'over', 'place', 'plate', 'play', 'pull', 'push', 'put', 'radio', 'room', 'say', 'shape', 'shots', 'singing', 'slow', 'smell', 'so', 'somebody', 'something', 'sour', 'start', 'stop', 'story', 'sweet', 'table', 'take', 'talk', 'taxi', 'tell', 'that', 'the', 'then', 'thrifty', 'to', 'too', 'trust', 'up', 'van', 'waist', 'want', 'was', 'we', "we're", 'week', 'were', 'where', 'with', 'you', 'your']
<class 'list'>

In [93]:
print(word_freq)

{'love': 25, 'conversation': 1, 'every': 6, "we're": 1, 'plate': 1, 'sour': 1, 'jukebox': 1, 'now': 11, 'taxi': 1, 'fast': 1, 'bag': 1, 'man': 1, 'push': 3, 'baby': 14, 'going': 1, 'you': 16, "don't": 2, 'one': 1, 'mind': 2, 'backseat': 1, 'friends': 1, 'then': 3, 'know': 2, 'take': 1, 'play': 1, 'okay': 1, 'so': 2, 'begin': 1, 'start': 2, 'over': 1, 'body': 17, 'boy': 2, 'just': 1, 'we': 7, 'are': 1, 'girl': 2, 'tell': 1, 'singing': 2, 'drinking': 1, 'put': 3, 'our': 1, 'where': 1, "i'll": 1, 'all': 1, "isn't": 1, 'make': 1, 'lover': 1, 'get': 1, 'radio': 1, 'give': 1, "i'm": 23, 'like': 10, 'can': 1, 'doing': 2, 'with': 22, 'club': 1, 'come': 37, 'it': 1, 'somebody': 2, 'handmade': 2, 'out': 1, 'new': 6, 'room': 3, 'chance': 1, 'follow': 6, 'in': 27, 'may': 2, 'brand': 6, 'that': 2, 'magnet': 3, 'up': 3, 'first': 1, 'and': 23, 'pull': 3, 'of': 6, 'table': 1, 'much': 2, 'last': 3, 'i': 6, 'thrifty': 1, 'grab': 2, 'was': 2, 'driver': 1, 'slow': 1, 'dance': 1, 'the': 18, 'say': 2, 'trust': 1, 'family': 1, 'week': 1, 'date': 1, 'me': 10, 'do': 3, 'waist': 2, 'smell': 3, 'day': 6, 'although': 3, 'your': 21, 'leave': 1, 'want': 2, "let's": 2, 'lead': 6, 'at': 1, 'hand': 1, 'how': 1, 'talk': 4, 'not': 2, 'eat': 1, 'falling': 3, 'about': 1, 'story': 1, 'sweet': 1, 'best': 1, 'crazy': 2, 'let': 1, 'too': 5, 'van': 1, 'shots': 1, 'go': 2, 'to': 2, 'a': 8, 'my': 33, 'is': 5, 'place': 1, 'find': 1, 'shape': 6, 'on': 40, 'kiss': 1, 'were': 3, 'night': 3, 'heart': 3, 'for': 3, 'discovering': 6, 'something': 6, 'be': 16, 'bedsheets': 3, 'fill': 2, 'hours': 2, 'stop': 1, 'bar': 1}

In [94]:
print(word_freq2)

{'a': 8, 'about': 1, 'all': 1, 'although': 3, 'and': 23, 'are': 1, 'at': 1, 'baby': 14, 'backseat': 1, 'bag': 1, 'bar': 1, 'be': 16, 'bedsheets': 3, 'begin': 1, 'best': 1, 'body': 17, 'boy': 2, 'brand': 6, 'can': 1, 'chance': 1, 'club': 1, 'come': 37, 'conversation': 1, 'crazy': 2, 'dance': 1, 'date': 1, 'day': 6, 'discovering': 6, 'do': 3, 'doing': 2, "don't": 2, 'drinking': 1, 'driver': 1, 'eat': 1, 'every': 6, 'falling': 3, 'family': 1, 'fast': 1, 'fill': 2, 'find': 1, 'first': 1, 'follow': 6, 'for': 3, 'friends': 1, 'get': 1, 'girl': 2, 'give': 1, 'go': 2, 'going': 1, 'grab': 2, 'hand': 1, 'handmade': 2, 'heart': 3, 'hours': 2, 'how': 1, 'i': 6, "i'll": 1, "i'm": 23, 'in': 27, 'is': 5, "isn't": 1, 'it': 1, 'jukebox': 1, 'just': 1, 'kiss': 1, 'know': 2, 'last': 3, 'lead': 6, 'leave': 1, 'let': 1, "let's": 2, 'like': 10, 'love': 25, 'lover': 1, 'magnet': 3, 'make': 1, 'man': 1, 'may': 2, 'me': 10, 'mind': 2, 'much': 2, 'my': 33, 'new': 6, 'night': 3, 'not': 2, 'now': 11, 'of': 6, 'okay': 1, 'on': 40, 'one': 1, 'our': 1, 'out': 1, 'over': 1, 'place': 1, 'plate': 1, 'play': 1, 'pull': 3, 'push': 3, 'put': 3, 'radio': 1, 'room': 3, 'say': 2, 'shape': 6, 'shots': 1, 'singing': 2, 'slow': 1, 'smell': 3, 'so': 2, 'somebody': 2, 'something': 6, 'sour': 1, 'start': 2, 'stop': 1, 'story': 1, 'sweet': 1, 'table': 1, 'take': 1, 'talk': 4, 'taxi': 1, 'tell': 1, 'that': 2, 'the': 18, 'then': 3, 'thrifty': 1, 'to': 2, 'too': 5, 'trust': 1, 'up': 3, 'van': 1, 'waist': 2, 'want': 2, 'was': 2, 'we': 7, "we're": 1, 'week': 1, 'were': 3, 'where': 1, 'with': 22, 'you': 16, 'your': 21}

#### Sort the values of `word_freq` ascendingly.

#### Convert `word_freq` into Pandas dataframes

In your future work, you may need to convert Python dictionaries to Pandas dataframes. So let's practice this by converting `word_freq`.

**First, import the `pandas` library.**

In [95]:
import pandas as pd

In [96]:
# Your code here
'''
Two-dimensional size-mutable, potentially heterogeneous tabular data
structure with labeled axes (rows and columns). Arithmetic operations
align on both row and column labels. Can be thought of as a dict-like
container for Series objects. The primary pandas data structure.
'''

df = pd.DataFrame(list(word_freq.items()), columns=['word', 'frequency'])

df.head()

           word  frequency
0          love         25
1  conversation          1
2         every          6
3         we're          1
4         plate          1

In [100]:
# pandas sort values
# Sort by the values along either axis

df = df.sort_values(by=['word'])

df.head()

         word  frequency
120         a          8
109     about          1
43        all          1
96   although          3
72        and         23

In [101]:
df = df.sort_values(by=['frequency'])

df.head()

      word  frequency
114    let          1
87   trust          1
11     man          1
45    make          1
46   lover          1